In [1]:
# Create a tuple
my_tuple = (1, 2, 3.54, "COP")

# Access the values
print(my_tuple[-1])

# Cannot modify the values
my_tuple[0] = 5 # Error

COP

TypeError: 'tuple' object does not support item assignment

In [3]:
# Membership Testing
print(1 in my_tuple)
print(5 in my_tuple)

True
False

In [4]:
# Tuple Unpacking
a, b, c, d = my_tuple
print(a, b, c, d)

1 2 3.54 COP

In [6]:
# Nested tuple
points = (
    (1, 2, 3),
    (4, 5, 6)
)

print(points)

((1, 2, 3), (4, 5, 6))